@use 'sass:math';
@import '../../assets/scss/base/mixins';

.calculator {
  padding: 213px 48px 213px 47px;
  @include adaptiveValue("padding-top", 213, 44);
  @include adaptiveValue("padding-bottom", 213, 64);
  @include adaptiveValue("padding-left", 47, 20);
  @include adaptiveValue("padding-right", 48, 20);
  &__title {
    max-width: 753px;
    font-family: 'Nekst';
    font-weight: 900;
    @include adaptiveValue("font-size", 54, 34, 768, 320, 1);
    line-height: 90%;
    color: $black;
  }
  &__wrapper {
    margin-top: 32px;
    display: flex;
    align-items: center;
    column-gap: 32px;
    @media (max-width: 1024px) {
      flex-direction: column;
      @include adaptiveValue("row-gap", 32, 16, 768, 320, 1);
    }
  }
  &__mobile {
    display: none;
    @media (max-width: 1024px) {
      width: 100%;
      display: block;
    }
  }
}
.mobile {
  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 201, 84, 1024, 768, 1);
    @media (max-width: 768px) {
      flex-wrap: wrap;
      row-gap: 29px;
    }
  }
  &__btn {
    position: relative;
    margin-top: 44px;
    @include adaptiveValue("margin-top", 44, 32, 768, 320, 1);
  }
}